{% extends 'kitchenup/base.html' %}
{% load staticfiles %}

{% block title %}  {{ category_name }}{% endblock %}
{% block body_block %}

        <h1 class="">Login to Rango</h1>

        <form  id="login_form" method="post" action=".">
            {% csrf_token %}

            Username: <input class="form-control" placeholder="username" type="text" name="username" id="id_username" value="" size="50"  required/>
            <br />
            Password: <input type="password" class="form-control" placeholder="password" id="id_password" name="password" value="" size="50" required />
            <br />

            <input class="btn btn-lg btn-primary btn-block" type="submit" value="submit" />
        </form>

{% endblock %}